@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif; */
	font-family: 'Kdam Thmor Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: url(../images/bg-restaurant.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/* HEADER */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.top-nav {
	display: flex;
	list-style: none;
	gap: 70px;
	font-size: 1.7em;
	color: white;
	margin-top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 60px;
}
.icon {
	display: flex;
}
.icon img {
	width: 35px;
}
.nav-link {
	text-decoration: none;
	color: white;
}
/* MAIN */
main {
	flex-grow: 2;
}
.container {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.8);
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	margin-top: 30%;
	border-radius: 10px;
}
/*FOOTER*/
footer {
	height: 35px;
	display: flex;
	color: white;
	font-size: 1.2em;
	justify-content: center;
	align-items: center;
}
